html{
    body{
        height:500vh;//viewport height 
        background: #000;
        canvas{
        position:fixed; left:50%; top:50%;
        transform: translate(-50%, -50%);
//위에 css로 화면중심으로 맞추긴 하였으나 요소를 정확히 화면중심에 맞추기 위해 
//canvas자신의 너비와 높이에 절반만큼 왼쪽위로 이동시켜 중앙 정렬을 완성
max-width:100vw; max-height: 100vh;
//뷰포트 너비와 높이를 화면보다 더 커지지 않게 해줍니다
        }
    }
}